:host {
   .container {

      display: grid;
      place-content: center;
      place-items: center;
      margin-top: 50px;
      grid-template-columns: 1fr 300px;
      gap: 20px;
      background: #dfdfdf;
      width: max-content;
      padding: 20px;
      margin: 0 auto;
      margin-top: 100px;
      border-radius: 15px;

      .container-table {
         width: max-content;
         display: grid;
         place-content: center;

         height: max-content;
         .mat-elevation-z8 {
            width: max-content;
            padding: 20px;
            border-radius: 15px;
         }

         .header {
            display: flex;
            gap: 50px;
            list-style: none;
         }

         .img {
            width: 100px;
            display: block;
            object-fit: cover;
         }

         .buton-cart{
            cursor: pointer;
            background: #3f51b5;
            border: 0;
            border-radius: 5px;
            color: #fff;
            width: 30px;
            height: 30px;
         }
      }



      .card-total {
         background: #fff;
         padding: 100px 30px;
         border-radius: 15px;
         display: grid;
         place-items: center;
         gap: 15px;
         h2{
            font-size: 1.5rem;


         }
         p{
            font-size: 1.2rem;
         }
      }

   }


}