<mat-toolbar class="toolbar">
   <nav class="nav">
      <a [routerLink]="['/home']">AngularBurger</a>
      <div class="links">
         <a [routerLink]="['/home']"  routerLinkActive="active-link"><mat-icon>home</mat-icon>Home</a>
         <a [routerLink]="['/produtos']"  routerLinkActive="active-link"><mat-icon>store</mat-icon>Produtos</a>
         <a [routerLink]="['/cart']"  routerLinkActive="active-link"><mat-icon>add_shopping_cart</mat-icon> Carrinho</a>
         <button (click)="logOut()" class="button">Sair <mat-icon>arrow_forward</mat-icon></button>
      </div>
   </nav>
</mat-toolbar>
